 .App {
  text-align: center;
  /* background-color: #ECF2FF; */
  height: 100vh;
}

/* .navbar {
  background-color: #3E54AC;
}

.navbar-brand{
  color: orange;
}

.navbar a {
  color:white;
  text-decoration: none
} */

/* .btn-theme {
  background-color: #BFACE2;
  color: #655DBB;
} */

/* .btn-test {
  background-color: #BFACE2;
  color: #3E54AC;
  --bs-btn-hover-bg: #655DBB
} */

.card {
  border: 1px solid black
}